@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);

body {
	font-size: 18px;
	font-family: 'Reenie Beanie', cursive;
	background: url("http://www.ginjaturtles.com/files/2114/4058/2215/Citrus-Yellow.jpg") no-repeat;
}

h1 {
  font-family: 'Reenie Beanie', cursive;
	font-size: 34px;
	text-align: center;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
	font-size: 20px;
	text-align: center;
}

#container{
  background-color: rgba(255,255,255,.6);
}

#main {
	width: 300px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

#twilio {
	display: none;
	font-size: 18px;
}

#twilio .response {
  display: none;
}


#callTwilioBtn  {
  background: #39f1f7;
  border-radius: 0px;
  color: #000000;
  font-size: 22px;
  font-family: 'Reenie Beanie', cursive;
  padding: 4px 115px 4px 115px;
  border: none;
  text-decoration: none;
  transition: .8s all;
}
 

#callTwilioBtn:hover {
  background: #3cb0fd;
  text-decoration: none;
  color: #ffffff;
}

#response {
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
}